/* General */
@font-face{font-display:swap; font-family:Gotham SSm; font-style:normal; font-weight:400; src:url(https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-Medium_Web.woff2)}

* {
    box-sizing: border-box;
    margin: 0; padding: 0;
    scroll-behavior: smooth;
    font-family: Gotham SSm, sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

header {
    position: fixed;
    width: calc(100vw - 1vw);
    z-index: 1;
}

main {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow: auto;
}

main > section {
    position: relative;
    scroll-snap-align: start;
}

section img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin-bottom: -4px;
}


a,
a:active {
    text-decoration: none;
    color: #000;
}

/* Navbar */
nav, footer {
    position: relative;
    margin: 15px;
    text-align: center;
}

nav .center-nav {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

nav .right-nav {
    top: 0;
    right: 0;
    text-align: right;
}

.center-nav, nav li, nav  a, footer li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    padding: 8px 16px;
    background: transparent;
    color: rgba(23, 26, 32, 0.788);
    font-size: 14px;
    opacity: 0.9;
}

nav ul li a:hover {
    align-items: center;
    background: rgba(23, 26, 32, 0.1);;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px 16px;
    transition: background 0.3s ease-in;
}

.navbar-brand {
    inline-size: calc(24px * 5);
    top: 10px;
    left: 24px;
}

.headline {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 500;
}

.headline, .navbar-brand, nav .right-nav, nav .center-nav, .b-container {
    position: absolute;
}

.b-container {
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    background: #3F4045;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 36px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 26px;
}

.button.white {
    color: #3F4045;
    background: white;
}